@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Degular;
  src: url(./assets/fonts/degular-regular.otf);
}

body {
  font-family: Degular;
}

.nav-container {
  .nav-content {
    border-radius: 100px;
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
      0px 2px 6px 0px rgba(45, 59, 67, 0.06);
  }
}

.popup-nav,
.popup-nav-2 {
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
    0px 2px 6px 0px rgba(45, 59, 67, 0.06);
  .user-details {
    .user-initials {
      // width: 20%;
      height: 100%;
    }
  }
}

.popup-nav-2 {
  .link-container {
    .link-image {
      width: 20%;
      height: 50%;
      border: 2px solid #fff;
      // background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
        0px 2px 6px 0px rgba(45, 59, 67, 0.06);
    }
    &:hover {
      border-radius: 100px;
      border: 2px solid #fff;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
        0px 2px 6px 0px rgba(45, 59, 67, 0.06);
      transition: 0.8s ease-in;
      .link-image {
        box-shadow: none;
        border: none;
      }
    }
  }
}

.side-nav {
  box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
    0px 2px 6px 0px rgba(45, 59, 67, 0.06);
  transition: 0.8s ease-in;
  .image-container {
    .image {
      filter: grayscale(100%);
      &:hover {
        cursor: pointer;
        filter: initial;
        position: relative;
      }
    }
    &:hover .tooltip {
      display: block;
    }

    .tooltip {
      display: none;
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      width: 100px;
      height: 30px;
      background-color: #000;
      color: #fff;
      text-align: center;
      line-height: 30px;
      border-radius: 5px;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
      }
    }
  }
}

.input {
  &:checked {
    accent-color: #131316;
  }
}

.mobile-nav-content-container,
.checkbox-container,
.checkbox-container2,
.calendar {
  box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
    0px 2px 6px 0px rgba(45, 59, 67, 0.06);
  transition: 0.8s ease-in;
}

.selected-date {
  font-size: 12px;
  color: #131316;
}

.react-calendar__tile--active {
  background: #131316 !important; // Change the background color for the selected date
  color: #fff !important; // Change the text color for the selected date
}

.react-calendar__month-view__weekdays__weekday {
  color: #56616b;
}

.react-calendar__month-view__days__day--active-month {
  color: #131316;
  font-weight: bold !important;
}

.white-button {
  border-radius: 100px;
  border: 1px solid #eff1f6;
  background: #fff;
}

.overlay {
  background-color: #c5c5c5;
}

.gray-button {
  background-color: #eff1f6;
  color: #131316;
}

.black-button {
  background-color: #131316;
  color: #eff1f6;
}

.circle-shape {
  border-radius: 100px;
  border: 2px solid #56616B;

  /* Elevation/Light Mode/100 */
  box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
    0px 2px 6px 0px rgba(45, 59, 67, 0.06);
}

.filter-container {
  box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
    0px 2px 6px 0px rgba(45, 59, 67, 0.06);
}

.active-link-image {
  box-shadow: none;
  border: none;
}

.active-nav-2 {
  border-radius: 100px;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
    0px 2px 6px 0px rgba(45, 59, 67, 0.06);
}

.active-nav {
  border-radius: 100px;
  background-color: #131316;
  color: #fff;
}

.green-text {
  color: #0ea163;
}

.yellow-text {
  color: #a77a07;
}

@media screen and (max-width: 1023px) {
  .popup-nav-2 {
    width: 50%;
    left: 30%;
  }

  .filter-container {
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .popup-nav-2 {
    width: 50%;
    left: 30%;
  }

  .revenue {
    padding: 8% 8%;
    .balance-details {
      flex-direction: column;
      .graph-section {
        width: 100%;
        margin: 2% 0;
      }
      .details-section {
        width: 100%;
        margin: 2% 0;
      }
    }

    .filter-section {
      .hero-section {
        border-bottom: 1px solid #eff1f6;
        .message {
        }
        .button-container {
          margin: 5% 0;
        }
      }
    }
  }

  .filter-container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .filter-container {
    height: 100vh;
  }
}
